<div
  *ngIf="visible"
  class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50"
>
  <div class="bg-white p-6 w-full max-w-md shadow-lg relative rounded-md">
    <h2 class="text-lg font-semibold mb-4">Nuevo libro</h2>

    <form (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label class="block text-sm font-medium">Título</label>
        <input
          type="text"
          [(ngModel)]="newBook.title"
          placeholder="Título del libro"
          name="title"
          required
          class="w-full border px-3 py-1 rounded mt-1"
        />
      </div>

      <div class="mb-3">
        <label class="block text-sm font-medium">Autor</label>
        <input
          type="text"
          [(ngModel)]="newBook.author"
          placeholder="Autor del libro"
          name="author"
          required
          class="w-full border px-3 py-1 rounded mt-1"
        />
      </div>

      <div class="mb-3">
        <label class="block text-sm font-medium">Descripción</label>
        <textarea
          [(ngModel)]="newBook.description"
          placeholder="Descripción del libro"
          name="description"
          required
          rows="3"
          class="w-full border px-3 py-1 rounded mt-1"
        ></textarea>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium">Año</label>
        <input
          type="number"
          [min]="1900"
          [max]="currentYear"
          placeholder="Año de publicación"
          [(ngModel)]="newBook.year"
          name="year"
          class="w-full border px-3 py-1 rounded mt-1"
        />
      </div>

      <div class="flex justify-end gap-2">
        <button
          type="button"
          (click)="cancel()"
          class="px-3 py-1 rounded bg-gray-300 hover:bg-gray-400"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="px-3 py-1 rounded bg-blue-600 text-white hover:bg-blue-700"
        >
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
